body{
    text-align: center;
}
h1{
    font-size: 60px;
    font-family: Papyrus,'Times New Roman', Times, serif;
}
#scoreboard{
    font-size: 40px;
    font-family: Papyrus,'Times New Roman', Times, serif;
}
#reset{
    border-radius: 15px;
    width: 100px;
    height: 50px;
    background-color: #494949;
    color: #dbdbdb;
    border: none;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    font-family: Papyrus,'Times New Roman', Times, serif

}
#reset:hover{
    border-radius: 15px;
    width: 100px;
    height: 50px;
    background-color: #222222;
    color: #dbdbdb;
    border: none;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    font-family: Papyrus,'Times New Roman', Times, serif

}